<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Sql Console</title>

    <%- include('includes/bootstrap.ejs', {}) %>
    <%- include('includes/style.ejs', {}) %>
    <%- include('includes/script.ejs', {}) %>

  </head>
  <body class="paddingz">
    <%- include('templates/header.ejs', {header: header}) %>

    <div class="container-fluid">

      <div class="card">
        <div class="card-body">
          <h1>Raw</h1>
          <div class="paddings">
            <form action="/raw/graw" method="post">
              <div class="form-group">
                <textarea class="form-control" id="sql" name="sql" rows="3"><%= lastSql %></textarea>
              </div>
              <div class="paddings">
                <div class="d-grid mx-auto">
                <button type="submit" class="form-control btn btn-primary" onclick="onStartLoading(this)">Get</button>
                </div>
              </div>
              <div class="form-group">
                <textarea class="form-control" id="sql" name="sql" rows="3" style="resize:None;" disabled><%= lastError %></textarea>
              </div>
            </form>
          </div>
        </div>
      </div>

      <%- include('templates/tabletemplate.ejs',{table: table}) %>

    </div>

  </body>
</html>
